@import '../../App.scss';
.error {
  width: 80%;
  max-width: 144rem;
  margin: 2rem auto;
  display: border-box;
  &__btn {
    color: $main-color-light-2;
    background-color: $main-color-light;
    border: solid 0.1rem $main-color-light-2;
    font-size: 2rem;
    display: block;
    text-decoration: none;
    width: 25rem;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 3rem;
    transition: 0.3s all;
    &:hover {
      color: $main-color-light;
      background-color: $main-color-light-2;
      border: solid 0.1rem $main-color-light;
      transform: translateY(-0.3rem);
    }
  }

  &__header {
    font-size: 5rem;
    color: $main-color-light-2;
    padding: 2rem;
    text-align: center;
  }
}
