@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/*Media query's converted to em*/
/* Xpx / 16 = em
 75em - 1200px
/68.75em - 1100px
56.25em - 900px
43.75em - 700px
25em - 400px
*/
//Colors
$main-color: #956800;
$main-color-light: #e2a519;
$main-color-light-2: #b77f00;
$main-color-dark: #382700;
$main-color-dark-2: #6c4b00;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background-color: $main-color;
  font-family: 'Roboto', sans-serif;
}
